@model List<Inventory>;
  @{
    Layout = "_Layout";
  }
  @{
    ViewData["Title"] = "Inventory List";
}
<h1>List of Inventories</h1>
    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Supplier</th>
      <th scope="col">Expiry Date</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      @if(User.Identity.IsAuthenticated)
      {
        <th scope="col">Action</th>
      <th scope="col">Sold</th>
      }
      
    </tr>
  </thead>
@foreach (var inventory in Model)
{
   <tbody>
    <tr>
      <th scope="row">@inventory.Id</th>
      <td>@inventory.Name</td>
      <td>@inventory.Supplier</td>
      <td>@inventory.ExpDate</td>
      <td>@inventory.Price</td>
      <td>@inventory.Quantity</td>
      @if(User.Identity.IsAuthenticated)
      {
        <td><a href="/inventory/edit?id=@inventory.Id">
      Edit</a>/<a href="/inventory/delete?id=@inventory.Id">
      Delete</a></td>
      <td><a href="/inventory/sell?id=@inventory.Id">Sell</td>
      }
      
    </tr>
  </tbody>
}
</table>